table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.leftPadding{
  padding-left: 50px;
}

.FileUpload{
  padding: 25px 40%;
  width: 20%;
  border-bottom: 1px solid gray;
}